<div class="container-fluid">
  <h2 class="text-center">Post Your Quote</h2>
  <hr>
  <form ng #quoteForm='ngForm'>
        <div class="form-group">

                <label for="author">Author</label>
                <input type="text" required class="form-control" id="name"[(ngModel)]="newQuote.author" author="author">
                    Display {{newQuote.author}}
            </div>
      <div class="form-group">

          <label for="name">Quote Type</label>
          <input type="text" required class="form-control" id="name">

      </div>
      <div class="form-group">

          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="4" required></textarea>

      </div>
      <div class="form-group">
          <label for="complete">Post</label>
          <input type='date' id="complete" required>

      </div>
  </form>
</div>
